<div>
    <button (click)="reverseOrder(weatherCalls)">
        <span>Reverse</span>
    </button>
</div>

<div class="weatherCallsDiv">
    <div class="weatherCardDiv" *ngFor="let location of locations">
        <div class="weatherCardHeader">
            <img class="currentConditionIcon" src="{{ getWeather(location).current.condition.icon }}" alt="icon">
            <h3 class="weatherCardLocation">
                {{ getWeather(location)?.location.name }}, {{ getWeather(location)?.location.region }}
            </h3>
        </div>
        <div class="weatherCardTextDiv">
            <p>
                Temperature: {{ getWeather(location)?.current.temp_f }}°F
            </p>
            <p>
                Current Conditions: {{ getWeather(location)?.current.condition.text }} 
            </p>
            <p>
                Wind: {{ getWeather(location)?.current.wind_dir }} {{ getWeather(location)?.current.wind_mph }}mph
            </p>
            <p>
                Humidity: {{ getWeather(location)?.current.humidity }}
            </p>
        </div>
        <div class="weatherCardOptionsDiv">
            <a (click)="locationDeleted.emit(location)">Details</a>
            <a (click)="locationDeleted.emit(location)">Remove</a>
        </div>
    </div>
</div>